* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(78, 71, 255, 0.05);
}

/* shared styles */
.inter_normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.raleway_normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.primary_color {
    color: #4E47FF;
}

.btn_primary {
    font-size: 16px;
    background-color: #4E47FF;
    padding: 12px 36px;
    color: #ffffff;
    font-weight: 700;
    border-radius: 10px;
    border: none;
}

.btn_primary:hover {
    color: black;
    background-color: aquamarine;
    box-shadow: 5px 5px 10px rgba(17, 17, 17, .5);
    transition: all .3s;
}

.text_center {
    text-align: center;
}

.section_title {
    font-family: "Raleway", sans-serif;
    font-size: 42px;
    font-weight: 700;
    color: #252432;
}

.section_description {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    color: #252432;
}


/* header styles */
.header {
    background-image: url('../Assets/Hero-bg.png');
}

/* nav styles */
.navbar {
    max-width: 1140px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0 0 0;
}

.logo {
    font-size: 40px;
    font-weight: 900;
}

/* banner styles */
.banner {
    padding: 155px 0 150px 0;
}

.banner_title {
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 35px;
}

/* main styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin: 120px 0;
}

/* action styles */
.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 220px;
}

.action_description {
    margin: 23px 0;
}

.action_image {
    border-radius: 48px;
}

/* user styles */
.user {
    background-color: rgba(78, 71, 255, 0.1);
    padding: 50px 0;
    border-radius: 24px;
}

.users_ratio {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.user_title {
    font-family: "Inter", sans-serif;
    font-size: 80px;
    font-weight: 700;
    color: #4E47FF;
}

.user_description {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

/* comment styles */
.comment_cards {
    display: flex;
    margin-top: 50px;
    gap: 20px;
}

.comment_card {
    background-color: #ffffff;
    padding: 24px;
    border-radius: 14px;
}

.card_title {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 24px 0 10px 0;
}

.card_reviewer {
    display: flex;
    gap: 6px;
}

.card_description {
    margin-bottom: 24px;
}

.card_profile {
    border-radius: 50%;
}

.reviewer_name {
    color: rgba(117, 117, 117, 1);
}

.review_date {
    color: rgba(179, 179, 179, 1);
}

/* focus styles */
.focus {
    background-color: #ffffff;
    padding: 71px 0;
    border-radius: 14px;
}

.focus_description {
    font-size: small;
    color: rgba(0, 0, 0, 0.5);
    margin: 20px 0;
}

.focus_image {
    margin-top: 20px;
    border-radius: 48px;
}

/* touch styles */
.touch {
    display: flex;
    gap: 115px;
    align-items: center;
}

.touch_title {
    font-family: "Raleway", sans-serif;
    font-size: 97px;
    font-weight: 700;
}

input,
textarea {
    padding: 25px 0 25px 32px;
    width: 95%;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    font-size: 18px;
}

label {
    font-size: 20px;
}

.touch_submit {
    width: 90%;
}

/* footer styles */
.footer {
    background-color: #ffffff;
}

.footer_container {
    max-width: 750px;
    margin: 0 auto;
    padding: 100px 0;
}

.footer_logo {
    font-family: "Inter", sans-serif;
    font-size: 100px;
    font-weight: 900;
    margin-bottom: 20px;
}

.footer_container ul {
    display: flex;
    gap: 48px;
    margin: 20px 0 0 135px;

}

.footer_container ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: rgba(137, 135, 161, 1);
    font-size: 25px;
}